/* 全局背景颜色 */
body {
    background-color: #F5DEB3; /* 设置全局背景颜色为米黄色 */
    color: #333; /* 设置默认文字颜色为深灰色 */
}

/* 头部样式 */
header {
    background-color: #3E4E50; /* 设置头部背景颜色为深灰色 */
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    border-radius: 8px; /* 圆角边框 */
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* 用户信息样式 */
.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.user-info span {
    display: block;
    text-align: center;
    line-height: 1.5;
}

.username {
    font-weight: bold;
    margin-top: 10px;
}

.bio {
    margin-top: 4px;
    font-size: 16px;
}

/* 搜索框样式 */
.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.search-box button {
    padding: 8px 12px;
    background-color: #4CAF50; /* 设置按钮背景颜色为绿色 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.search-box button:hover {
    background-color: #45a049;
}

/* 页脚样式 */
footer {
    background-color: #3E4E50; /* 设置页脚背景颜色为深灰色 */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    border-radius: 8px; /* 圆角边框 */
}

/* 右下角按钮样式 */
.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* 设置按钮背景颜色为绿色 */
    color: #fff;
    border: none;
    border-radius: 8px; /* 圆角边框 */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.btn:hover {
    background-color: #45a049;
}

/* 侧边栏样式 */
#sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #3E4E50; /* 设置侧边栏背景颜色为深灰色 */
    color: #fff;
    z-index: 1000;
    transition: right 0.5s ease-in-out; /* 添加过渡效果 */
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    border-radius: 8px; /* 圆角边框 */
}

#sidebar.active {
    right: 0;
}

#sidebar ul {
    padding: 20px;
    list-style: none;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}
