body {
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background-light.png'); /* 默认背景图片 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000; /* 默认文本颜色 */
}

header, nav, .categories, footer {
    background-color: rgba(255, 255, 255, 0.2); /* 默认背景颜色，透明度为0.2 */
    border-radius: 10px; /* 边角圆润 */
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 10px 0;
    z-index: 1; /* 确保内容在粒子效果上方 */
}

header {
    text-align: center;
}

.avatar-container {
    width: 15%;
    padding-top: 15%;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ccc; /* 头像框 */
}

.avatar-container .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header h1 {
    margin: 10px 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    color: #666;
}

nav {
    text-align: center;
}

.search-bar {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.categories {
    flex-grow: 1;
}

.categories h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.categories ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories li {
    margin: 10px;
    width: calc(33.333% - 20px); /* 每行三个分类，减去 margin */
    text-align: center;
}

.categories a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.categories a:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

footer {
    text-align: center;
    padding: 10px;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-image: url('../images/background-dark.png'); /* 深色模式背景图片 */
        color: #fff; /* 深色模式文本颜色 */
    }

    header, nav, .categories, footer {
        background-color: rgba(0, 0, 0, 0.2); /* 深色模式背景颜色，透明度为0.2 */
    }

    header p {
        color: #aaa; /* 深色模式下的简介文本颜色 */
    }

    .search-bar {
        background-color: #333;
        border-color: #666;
        color: #fff;
    }

    .categories a {
        background-color: #333;
        border-color: #666;
        color: #fff;
    }

    .categories a:hover {
        background-color: #444;
        border-color: #888;
    }
}
